/*
  See ceylon-ide-eclipse: plugins/com.redhat.ceylon.eclipse.ui/plugin.xml,
  com.redhat.ceylon.eclipse.ui.theme
 */

.KeywordType {
    font-weight: bold;
    color: rgb(76,76,76);
}

.backtick {
    color: black;
}

.lidentifier { /* unqualified lidentifier */
    color: rgb(0,51,153);
}

.memberOp + .lidentifier { /* qualified lidentifier */
    color: rgb(102,51,153);
}

.uidentifier {
    color: rgb(153,0,102);
}

.NumericLiteralType {
    color: blue;
}

.StringLiteralType {
    color: blue;
}

.characterLiteral {
    color: blue;
}

.lineComment, .multiComment {
    color: darkgray;
}

.lineComment[content*=TODO], .lineComment[content*=FIXME], .multiComment[content*=TODO], .multiComment[content*=FIXME] {
    color: rgb(255,128,0);
    font-weight: bold;
}

.semicolon {
    color: black;
}

.lbrace, .rbrace {
    color: black;
}

.lidentifier[content=shared], .lidentifier[content=abstract], .lidentifier[content=formal], .lidentifier[content=default], .lidentifier[content=actual], .lidentifier[content=variable], .lidentifier[content=late], .lidentifier[content=native], .lidentifier[content=deprecated], .lidentifier[content=final], .lidentifier[content=sealed], .lidentifier[content=annotation], .lidentifier[content=small], .lidentifier[content=doc], .lidentifier[content=by], .lidentifier[content=license], .lidentifier[content=see], .lidentifier[content=throws], .lidentifier[content=tagged],
.lidentifier[content=\\ishared], .lidentifier[content=\\iabstract], .lidentifier[content=\\iformal], .lidentifier[content=\\idefault], .lidentifier[content=\\iactual], .lidentifier[content=\\ivariable], .lidentifier[content=\\ilate], .lidentifier[content=\\inative], .lidentifier[content=\\ideprecated], .lidentifier[content=\\ifinal], .lidentifier[content=\\isealed], .lidentifier[content=\\iannotation], .lidentifier[content=\\ismall], .lidentifier[content=\\idoc], .lidentifier[content=\\iby], .lidentifier[content=\\ilicense], .lidentifier[content=\\isee], .lidentifier[content=\\ithrows], .lidentifier[content=\\itagged] {
    color: rgb(51,153,204);
}
